# Configurações do Supabase (Públicas/Cliente)
NEXT_PUBLIC_SUPABASE_URL=https://vbpjljbrmiupzggguscc.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sua_chave_anonima_aqui

# Configurações da iSolarCloud
ISOLARCLOUD_APP_KEY=sua_app_key_aqui
ISOLARCLOUD_SECRET_KEY=sua_secret_key_aqui
ISOLARCLOUD_USER=seu_email@dominio.com
ISOLARCLOUD_PASSWORD=sua_senha_aqui

# OpenAI
OPENAI_API_KEY=sk-proj-sua_chave_da_openai_aqui

# Integrações WhatsApp / UAZAPI
UAZAPI_TOKEN=seu_token_uazapi_aqui
UAZAPI_URL=https://fluxiabr.uazapi.com
WHATSAPP_PHONE=seu_numero_aqui
