ALTER TABLE inverters ADD COLUMN IF NOT EXISTS generation_today NUMERIC; ALTER TABLE inverters ADD COLUMN IF NOT EXISTS generation_month NUMERIC; ALTER TABLE inverters ADD COLUMN IF NOT EXISTS generation_total NUMERIC;
